footer {
    width: 100vw;
    padding: 25px 50px;
    background-color: var(--primary-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--accent-color-2);
}

.copyright-text {
    text-align: center;
    color: var(--light-content-text);
    font-size: calc(8px + 0.8vmin);
}

.footer-socials {
    display: flex;
    gap: 4vw;
}

@media screen and (max-width: 680px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3vh;
    }

    .footer-socials {
        gap: 12vw;
    }

    .copyright-container {
        width: 100%;
        border-top: 0.75px solid var(--subtle-background);
    }

    .copyright-text {
        padding-top: 1.8vh;
        font-size: calc(3px + 2vmin);
    }
}
