#footer-container {
    width: 1400px;
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright-text {
    text-align: center;
    color: var(--light-content-text);
    font-size: calc(8px + 0.8vmin);
}

.footer-socials {
    display: flex;
    gap: 4vw;
}

@media screen and (max-width: 1600px) {
    #footer-container {
        width: 80vw;
    }
}

@media screen and (max-width: 680px) {
    #footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3vh;
    }

    .footer-socials {
        gap: 12vw;
    }

    .copyright-container {
        width: 100%;
        border-top: 0.75px solid var(--subtle-background);
    }

    .copyright-text {
        padding-top: 1.8vh;
        font-size: calc(3px + 2vmin);
    }
}
