#name {
    color: var(--accent-color-3);
    font-size: calc(43px + 2vmin);
    text-align: center;
}

#title {
    color: var(--accent-color-2);
    font-size: calc(20px + 2vmin);
}

#brief {
    width: 80%;
    padding-top: 3vh;
    font-size: calc(9px + 1.5vmin);
    text-align: center;
}

#first-name {
    font-size: calc(50px + 2vmin);
    color: var(--pigment-green);
}

#first-name,
.angled-brackets {
    font-family: "Courier New", Courier, monospace;
}

.angled-brackets {
    font-size: calc(52px + 2vmin);
    font-weight: bold;
    color: var(--light-content-text);
}

@media screen and (max-width: 900px) {
    #name {
        font-size: calc(50px + 2vmin);
    }
}

@media screen and (max-width: 760px) {
    #name {
        line-height: 90%;
    }
}

@media screen and (max-width: 500px) {
    #name {
        font-size: calc(42px + 2vmin);
    }

    #title {
        padding-top: 1vh;
    }

    #brief {
        padding-top: 4vh;
        font-size: calc(10px + 2.2vmin);
    }

    #first-name {
        font-size: calc(45px + 1vmin);
    }

    .angled-brackets {
        font-size: calc(42px + 2vmin);
    }
}

@media screen and (max-width: 400px) {
    #name {
        font-size: calc(28px + 2vmin);
    }

    #title {
        font-size: calc(16px + 2vmin);
    }

    #brief {
        padding-top: 3vh;
        font-size: calc(9px + 2vmin);
    }

    #first-name {
        font-size: calc(35px + 1vmin);
    }

    .angled-brackets {
        font-size: calc(36px + 2vmin);
    }
}
