#projects-title {
    font-size: calc(18px + 2vmin);
    color: var(--pigment-green);
}

#project-display {
    margin-top: 4vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 680px) {
    #project-display {
        flex-direction: row;
    }
}
