:root {
    --primary-background: #1e1e1e;
    --secondary-background: #282c34;
    --subtle-background: #2c2c2c;
    --pigment-green: #08a045;
    --light-content-text: #ffffff;
    --accent-color-1: #3498db;
    --accent-color-2: #a72929;
    --accent-color-3: #778899;
    --accent-color-4: #c1c1c1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 72px;
    color: var(--light-content-text);
    background-color: var(--primary-background);
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--accent-color-2);
    z-index: 1000;
}

main {
    background: radial-gradient(var(--secondary-background), #0c0d0f);
    width: 100vw;
    min-height: 100vh;
    padding: calc(50px + 10vh) 10vw 10vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-content-text);
}

section {
    max-width: 1200px;
}

a {
    font-weight: bold;
    color: var(--accent-color-4);
}

a:hover {
    color: var(--accent-color-1);
    transition: color 0.3s ease;
}

footer {
    width: 100vw;
    background-color: var(--primary-background);
    border-top: 1px solid var(--accent-color-2);
    display: flex;
    justify-content: center;
}

button {
    margin-top: 5vh;
    color: var(--accent-color-4);
    background-color: var(--primary-background);
    height: 7vh;
    min-height: 50px;
    max-height: 100px;
    width: 15vw;
    max-width: 250px;
    font-size: calc(6px + 2vmin);
    font-weight: bold;
    border: 2px solid var(--pigment-green);
    border-radius: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

button:hover {
    cursor: pointer;
    color: var(--accent-color-1);
    background-color: var(--subtle-background);
}

@media screen and (min-height: 980px) and (min-width: 850px) {
    main {
        padding-top: 0;
        padding-bottom: 0;
        min-height: calc(100vh - 83px);
    }
}

@media screen and (max-width: 1050px) {
    button {
        height: 7vh;
        width: 22vw;
        font-size: calc(6px + 2vmin);
    }
}

@media screen and (max-width: 500px) {
    button {
        height: 5vh;
        width: 30vw;
        font-size: calc(6px + 3vmin);
    }
}
