:root {
    --primary-background: #1e1e1e;
    --secondary-background: #282c34;
    --subtle-background: #2c2c2c;
    --pigment-green: #08a045;
    --light-content-text: #ffffff;
    --accent-color-1: #3498db;
    --accent-color-2: #a72929;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}

main {
    background-color: var(--secondary-background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--light-content-text);
}

footer {
    padding: 25px 50px;
    background-color: var(--primary-background);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--accent-color-2);
}
